

<table class="table">
    <thead>
       <tr>
           <th>Name</th>
           <th>Email</th>
           <th>Phone</th>
           <th>Date</th>
           <th>Department</th>
           <th>Doctor</th>
           <th>Message</th>
           <th>Actions</th>
       </tr>
    </thead>

    <tbody>
     {{#if appointments}}
        {{#each appointments}}
           {{#ifeq status 'Unactive'}}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{generate_date date 'MMM-Do-Y'}} </td>
                    <td>{{department.name}}</td>
                    <td>{{doctor.name}}</td>
                    <td>{{message}}</td>
                    <td><a href="/admin/appointment/retrieve/{{id}}" class="btn btn-success"><i class="fa fa-thumbs-up"></i> Retrieve</a></td>
                    <td><a href="/admin/appointment/show/{{id}}" class="btn btn-warning"><i class="fa fa-eye"></i> View</a></td>
                    <td><a href="/admin/appointment/delete/{{id}}" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</a></td>
                </tr>
            {{/ifeq}}
        {{/each}}

      {{else}}
        <div class="alert alert-success">No Cancelled Appointment to display</div>

     {{/if}}      
    </tbody>
</table>