

<table class="table table-striped table-responsive">
    <thead>
       <tr>
           <th>Author</th>
           <th>image</th>
           <th>Question</th>
           <th>Tag</th>
           <th>Answer</th>
           <th>Actions</th>
       </tr>
    </thead>

    <tbody>
     {{#if faqs}}
      
        {{#each faqs}}
                <tr>
                    <td>{{user.name}}</td>
                     {{#if user.file}}
                        <td><img src="/uploads/{{user.file}}" class="img-circle" alt="" width="40"></td>
                        {{else}}
                        <td><img src="/uploads/default.png" alt="" width="40"></td>
                    {{/if}}
                    <td>{{question}}</td>
                    <td>{{tag}}</td>
                    <td>{{answer}}</td>
                    <td><a href="/admin/faq/edit/{{id}}" class="btn btn-success"><i class="fa fa-pencil"></i> Edit</a></td>
                    <td><a href="/admin/faq/delete/{{id}}" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</a></td>
                </tr>
        {{/each}}

      {{else}}
        <div class="alert alert-success">No FAQ to display</div>

     {{/if}}      
    </tbody>
</table>