 <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>Doctors</h2>
          <p>Here in nodeMedics, we've hired soldiers that carry armour wearing whites or light blue colored garments with the zeal to protect lives with all they're gifted with</p>
        </div>

        <div class="row">
      {{#if docs}}
        {{#each docs}}
          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="/uploads/{{file}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{name}}</h4>
                <span>{{field}}</span>
                <p>{{intro}}</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        {{/each}}  
      {{else}}
        <div class="alert alert-success">No Doctor to Display</div>
      {{/if}}
        </div>

      </div>
    </section><!-- End Doctors Section -->

