<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Questions that have given us the best reasons to share them for they poured out the purest of thoughts and had lot's of purpose and intentions</p>
        </div>

        <div class="faq-list">
          <ul>
          {{#if faqs}} 
              {{#each faqs}} 
                <li data-aos="fade-up">
                  <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#{{tag}}">
                    {{question}}? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="{{tag}}" class="collapse show" data-parent=".faq-list">
                    <p>
                     {{answer}}
                    </p>
                  </div>
                </li>
              {{/each}}
          {{else}}
             <div class="alert alert-success">No FAQ to display</div>
          {{/if}}
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->