<!-- ======= Research Section ======= -->
    <section id="Research" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>Research Lab</h2>
          <p>We kept at the back of our thoughts that a soldier that fights well battle lives to save more lives and we are standing with on feets stable than rocks placed on earth are the motives we have for all patients we treat</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">

              {{#if labs}}
                 {{#each labs}}
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#{{tag}}">{{name}}</a>
                  </li>
                {{/each}}
              {{else}}
                <div class="alert alert-success">No Research</div>
              {{/if}}

            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">

              {{#if labs}}
                 {{#each labs}}
                    <div class="tab-pane" id="{{tag}}">
                      <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                          <h3>{{name}}</h3>
                          <p class="font-italic">Established on: {{generate_date estDate 'MMM-Do-Y'}} | Location: {{location}}</p>
                          <p>{{content}}</p>
                        </div>
                        <div class="col-lg-4 text-center order-1 order-lg-2">
                          <img src="/uploads/{{file}}" alt="" class="img-fluid">
                        </div>
                      </div>
                    </div>
                  {{/each}}  

              {{else}}
                <div class="alert alert-success">No Research Info</div>
              {{/if}}
             
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Research Section -->