 <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="owl-carousel testimonials-carousel">
    {{#if testimonies}}
        {{#each testimonies}}
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                {{#if user.file}}
                  <img src="/uploads/{{user.file}}" class="testimonial-img" alt="">
                {{else}}
                  <img src="/uploads/default.png" class="testimonial-img" alt="">
                {{/if}}
                <h3>{{user.name}}</h3>
                <h4>{{field}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{message}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
         {{/each}}
      {{else}}
        <div class="alert alert-success">No Testimony to display</div>
      {{/if}}  

        </div>

      </div>
    </section><!-- End Testimonials Section -->